body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, Sans-serif;
  color: white;
  background-image: url("/static/images/ai.jpg");
  background-repeat: no-repeat;
  background-size: cover;
   
  
  
  }
  
    
    .caja h1 {
      text-align: center;
    } 

    
    
    .caja {
       
       
        background-color: #fff;
        width: 80%;
        border-radius: 10px;
        box-shadow: -8px 10px 15px #00000000;
        margin: 5%;
        

    }
        
      .sumbit {
        
        font-family: Roboto, sans-serif;
        font-weight: 100;
        font-size: 24px;
        color: #fff;
        background-color: #0066CC;
        padding: 10px 29px;
        border: 2px solid #0066cc;
        box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
        border-radius: 26px 50px 50px 23px;
        transition : 390ms;
        transform: translateY(0);
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        
        }
        
        .sumbit2 {
        
          font-family: Roboto, sans-serif;
          font-weight: 100;
          font-size: 24px;
          color: #fff;
          background-color: #0066CC;
          padding: 10px 29px;
          border: 2px solid #0066cc;
          box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
          border-radius: 50px 50px 50px 50px;
          transition : 390ms;
          transform: translateY(0);
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          text-decoration: none;
 
        }

        .sumbit:hover{
        
        transition : 390ms;
        padding: 10px 41px;
        transform : translateY(-0px);
        background-color: #fff;
        color: #0066cc;
        border: solid 2px #0066cc;
        }
        
        .sumbit2:hover{
        
          transition : 390ms;
          padding: 10px 41px;
          transform : translateY(-0px);
          background-color: #fff;
          color: #0066cc;
          border: solid 2px #0066cc;
          }
        
        .atras {
          display: grid;
          place-items: center;
          height: 100%;
          width: 100%;
        }

        .predict {
          display: grid;
          place-items: center;
          height: 100%;
          width: 100%;
        }
        
  
      

      .boton {
        border: none;
  color: white;
        
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%;
      }
     
  
   .select:hover::after {
      color: #00b7ff;
   }
  
   .title1{
    position: relative;
   }

   .caja .tit {
    background-image: url(/static/images/back.png);
    background-size: cover;
    background-position-y: center;
    padding: 0%;
    height: 30vh;
    width: 100%;
    border-radius: 10px 10px 0 0;
    color: white;
    display: grid;
    place-items: center;
    filter: brightness(0.8);

   } 



   .caja .tit h1{
    font-size: 50pt;
    text-align: center;
    z-index: 999;


   }
   @media  (max-width: 400px) {
    .caja .tit
    {
      background-size: contain;
      max-width: 100%;
      height: auto;
    }
    
    .caja .tit h1{
      font-size: 30pt;
      text-align: center;
    }

   }
   
   .col select {
    appearance: none;
	  -webkit-appearance: none;
	  -moz-appearance: none;
   }

   .col select::-ms-expand {
    display: none;
}

.col {
	max-width: 250px;
	position: relative;
}
 
.col select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #ffffff;
	color: #2b2b2b;
	font-size: 1em;
	color: #000000;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 0;
    position: relative;
    transition: all 0.25s ease;
    font-weight: bold;
}
 
.col select:hover{
	background: #0088f836;
}
 
/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.col i{
	position: absolute;
	right: 20px;
	top: calc(71% - 0px);
	width: 13px;
	height: 13px;
	display: block;
	border-left:4px solid #2AC176;
	border-bottom:4px solid #2AC176;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.col:hover i{
	margin-top: 3px;
}

.text {
  color: #000000a1;
} 

