<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/estilo3.css">
        <title>FlaskBlog</title> 
    </head>
<body>
    <div class="container">
        <div class="input">
            
            <div class="title">
                <div class="logo">
                    <figure>
                        <img src="/static/images/149239.png" alt="">
                    </figure>
                </div>
                <div class="msg">
                    <h1>¡BIENVENIDO!</h1>
                    
                    
                    <h2>modelo de prevención de la inasistencia escolar</h2>
                </div>      
            </div>
            
            <div class="button">

                <h2>Elegir la acción a realizar</h2>

                

                
                    <a href="/showpageprediction" class="predict"><h3>
                        Predecir
                    </h3></a>
                
                    
                    <a href="http://127.0.0.1:5000/showpagetraining" class="training"><h3>
                      Entrenar
                    </h3></a>
                   
                
            
            </div>
            
        </div>
    </div>
  
</body>
</html>