<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page in HTML with CSS Code Example</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="/static/EstilosIndex.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	<div class="box-form">
		<div class="left">
			<div class="overlay">
				<figure>
					<img src="/static/images/programacion-web.png" alt="logo">
				</figure>
			<h1>Bienvenidos</h1>
			<br>
			<p>Sistema recomendador de acciones para la prevención de la inasistencia escolar</p>
			
			
		</div>
			
		</div>
		
		
			<div class="right">
			<h5>TruancyStop</h5>
			<p>Elija la acción que desea realizar</p>
			<div class="inputs">
				<div class="but">
                    <a href="/showpageprediction">
                        <button>PREDECIR INASISTENCIA</button>
                    </a>
					
	
				</div>
				<div class="but">
                        <button id="miBoton">ENTRENAMIENTO</button>				
				</div>
			</div>		
					<!-- Angular -->
	
	
			</div>
	<!-- partial -->
</div>

<!-- Modal option-->
	<div id="miModal" class="modal">
		<div class="modal-contenido">
			<span class="cerrar">&times;</span>
			<div class="containerdr">
				<div class="box">
					<div class="box-headerd">
						<h2>ACTUALIZAR DATASET</h2>
					</div>
					<div class="box-contenta">
						<form action="/actualizarDS" method="post" enctype="multipart/form-data" id="form">
						<label for="archivo_input">Seleccionar archivo:</label>
						<div class="drop-area" id="drop_area">
						<p>	Arrastra y suelta el archivo aquí<br>
							o haz clic para seleccionarlo</p>
						</div>
						<center><div id="mensaje_archivo" style="display: none;">No hay archivos seleccionados.</div>
						</center>
						<center>
							<div id="msg"></div>
						</center>
						<input type="file" id="archivo_input" accept=".csv" name="archivo_input">
	
						<div class="btn-container">
							<button id="btn_actualizar">Actualizar</button>
						</form>
						</div>
					</div>
				</div>
            <div class="box">
                <div class="box-headeri">
                    <h2>ENTRENAR MODELO</h2>
                </div>
                <div class="box-contentt">
				<center><h3>Entrene el modelo presionando el botón </h3></center>	
                    <div class="btn-container">
						<a href="/showpagetraining">
							<center><button id="btn_entrenar">Entrenar</button></center>   
						</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

	</div>




<div class="logotypes">
	<div class="img1">
		<img src="/static/images/Logos UNICOR.png" alt="">

	</div>
	<div class="img2">
		<img src="/static/images/Logo LIEMAV.png" alt="">
	</div>
	<div class="img3">
		<img src="/static/images/logo-edutal.png" alt="">
	</div>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js">
	$(document).ready(function() {
        $('#form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                url: 'actualizarDS',
                type: 'POST',
                data: $('#form').serialize(),
                success: function(response) {
                    $('#msg').text(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>

<script>
	// Obtener los elementos necesarios
var modal = document.getElementById("miModal");
var boton = document.getElementById("miBoton");
var cerrar = document.getElementsByClassName("cerrar")[0];

// Función para abrir el modal
function abrirModal() {
  modal.style.display = "block";
}

// Función para cerrar el modal
function cerrarModal() {
  modal.style.display = "none";
}

// Asociar eventos a los elementos
boton.addEventListener("click", abrirModal);
cerrar.addEventListener("click", cerrarModal);
window.addEventListener("click", function(event) {
  if (event.target == modal) {
    cerrarModal();
  }
});
</script>

<script>
	const dropArea = document.getElementById("drop_area");
	const fileInput = document.getElementById("archivo_input");

	// Actualizar el estilo del área de arrastrar y soltar cuando se está arrastrando un archivo
	dropArea.addEventListener("dragover", (e) => {
		e.preventDefault();
		dropArea.classList.add("dragover");
	});

	// Restaurar el estilo del área de arrastrar y soltar cuando se termina de arrastrar un archivo
	dropArea.addEventListener("dragleave", () => {
		dropArea.classList.remove("dragover");
	});

	// Obtener el archivo seleccionado cuando se suelta en el área de arrastrar y soltar
	dropArea.addEventListener("drop", (e) => {
		e.preventDefault();
		dropArea.classList.remove("dragover");
		const file = e.dataTransfer.files[0];
		handleFile(file);
	});

	// Obtener el archivo seleccionado cuando se selecciona a través del botón de archivo
	fileInput.addEventListener("change", (e) => {
		const file = e.target.files[0];
		handleFile(file);
	});

	// Función para manejar el archivo seleccionado
	function handleFile(file) {
		// Realizar acciones con el archivo seleccionado
        const fileName = file.name;
        dropArea.textContent = fileName;
		console.log("Archivo seleccionado:", fileName);
	}

	  // Evento click para el área de arrastrar y soltar
	  dropArea.addEventListener("click", () => {
		fileInput.click();
	});

	// Evento change para el input file
	fileInput.addEventListener("change", (e) => {
		const file = e.target.files[0];
		handleFile(file);
	});


</script>

<script>
    const archivoInput = document.getElementById("archivo_input");
    const btnActualizar = document.getElementById("btn_actualizar");
	const mensajearchivo = document.getElementById("mensaje_archivo")

	document.querySelector("form").addEventListener("submit", function(event){
		if (archivoInput.files.length === 0) {
			event.preventDefault();
		}
	});

    btnActualizar.addEventListener("click", function() {
		if (archivoInput.files.length === 0) {
			mensajearchivo.style.display = "block";
		} else {
			mensajearchivo.style.display = "none"
	
		}
	});
	
</script>

</body>
</html>
