<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/EstilosResultado.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
  <div class="slide-container">
  
    <div class="wrapper">
      <div class="clash-card barbarian">
        <div class="clash-card__image clash-card__image--barbarian">
          <img src= "/static/images/robot1.png" id="img-bajo" alt="robot feliz" style="display: none;">
          <img src= "/static/images/robot2.png" id="img-alto" alt="robot triste" style="display: none;">
          <img src= "/static/images/robot3.png" id="img-medio" alt="robot con dudas" style="display: none;">
        </div>
        <div class="clash-card__level clash-card__level--barbarian">
          Rango de inasistencia
        </div>
        <div class="clash-card__unit-name">{{ variable }}</div>
        <br>
        <div class="clash-card__unit-description">
          El estudiante puede presentar un rango de inasistencia {{ variable }}. El nivel de precision de esta prediccion es del {{ score }}
        </div>

        <div class="bott">
          <div class="butrecom">
            <a href="/recomendation" style="text-decoration: none;">
              <button id="btnRecomendaciones" class="btn">Mostrar recomendaciones</button>
            </a>
          </div>

          <div class="butback">
            <a href="http://127.0.0.1:5000/" class="btn">Ir a inicio</a>
          </div>
        </div>
  
  
      </div> <!-- end clash-card barbarian-->
    </div> <!-- end wrapper -->
   
    
  </div> <!-- end container -->
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      var rango = "{{ variable }}";

      // Mostrar la imagen correspondiente según el rango
      if (rango === "Alto") {
        $("#img-alto").show();
      } else if (rango === "Medio") {
        $("#img-medio").show();
      } else if (rango === "Bajo") {
        $("#img-bajo").show();
        inhabilitarBotonRecomendaciones();
      }

      function inhabilitarBotonRecomendaciones() {
      // Deshabilitar el botón de recomendaciones
      $("#btnRecomendaciones").prop("disabled", true);
      // Deshabilitar el efecto hover
      $("#btnRecomendaciones").css("background-color", "inherit");
      $("#btnRecomendaciones").css("cursor", "not-allowed");
    }
    });
  </script>
  

</body>
</html>






<!--
<html>
<body>
  <body>
    <div class="container">
        <div class="card">
            <h5 class="card-header">PREDICCIÓN</h5>
            <div class="card-body">
                <h5 class="card-title">
                    <p>{{ variable }}</p>
                </h5>

                <div>El nivel de precisión de esta predicción es del {{ score }}</div>
                <br>

                <a href="/recomendation" class="btn">Mostrar recomendaciones</a>
                <a href="http://127.0.0.1:5000/" class="btn">Ir a inicio</a>
            </div>
        </div>
    </div>
</body>
</body>
</html>