<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/EstilosResultado.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
  <div class="slide-container">
  
    <div class="wrapper">
      <div class="clash-card barbarian">
        <div class="clash-card__image clash-card__image--barbarian">
          <img src= "https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian.png" alt="barbarian" />
        </div>
        <div class="clash-card__level clash-card__level--barbarian">
          Rango de inasistencia
        </div>
        <div class="clash-card__unit-name">{{ variable }}</div>
        <br>
        <div class="clash-card__unit-description">
          El estudiante puede presentar un rango de inasistencia {{ variable }}. El nivel de precision de esta prediccion es del {{ score }}
        </div>

        <div class="bott">
          <div class="butrecom">
            <a href="/recomendation" class="btn">Mostrar recomendaciones</a>
          </div>

          <div class="butback">
            <a href="http://127.0.0.1:5000/" class="btn">Ir a inicio</a>
          </div>
        </div>
  
  
      </div> <!-- end clash-card barbarian-->
    </div> <!-- end wrapper -->
   
    
  </div> <!-- end container -->


</body>
</html>






<!--
<html>
<body>
  <body>
    <div class="container">
        <div class="card">
            <h5 class="card-header">PREDICCIÓN</h5>
            <div class="card-body">
                <h5 class="card-title">
                    <p>{{ variable }}</p>
                </h5>

                <div>El nivel de precisión de esta predicción es del {{ score }}</div>
                <br>

                <a href="/recomendation" class="btn">Mostrar recomendaciones</a>
                <a href="http://127.0.0.1:5000/" class="btn">Ir a inicio</a>
            </div>
        </div>
    </div>
</body>
</body>
</html>